<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
</head>
<body style="background-color: green">
<img src="field.png" style="
    padding-left: 0px;
    position: absolute;
">
<img src="field.png" style="
    padding-top: 25px;
    padding-left: 50px;
    position: absolute;
">
<img src="field.png" style="
    padding-top: 50px;
    padding-left: 100px;
">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
<img src="field.png">
</body>
</html>
